<div *ngIf="user">
  <div id="container">
    <div id="block">
      <br />
      <h2 class="page-header">대기 순번 QR코드</h2>
      <br />
      <ul class="list-group">
        <h4>{{ user.name }}님의 QR코드</h4>
        <li class="list-group-item">이메일 : {{ user.email }}</li>
        <li class="list-group-item">생일 : {{ user.birth }}</li>
        <li class="list-group-item">
          대기 등록 시간 : {{ this.kr_curr | date: "hh:mm:ss a" }}
        </li>
      </ul>
      <br />
      <div *ngIf="createdCode" class="qrdata" style="text-align: center">
        <ngx-qrcode [value]="createdCode"></ngx-qrcode>
      
      <br />
      <button type="button" class="btn btn-warning" (click)="onRefresh()">
        QR코드 재발급
      </button></div>
    </div>
  </div>
</div>
