<style type="text/css">
  .blank {
    height: 150px;
  }
</style>
<div *ngIf="!checkLoggedIn()" style="text-align: center; vertical-align: top">
  <div style="padding-top: 40px">
    <h1>아직 계정이 없으신가요?</h1>
    <h4>계정이 있으시면 로그인하세요!</h4>
    <br />
    <button
      *ngIf="!checkLoggedIn()"
      type="button"
      class="btn btn-warning"
      routerLink="/register"
    >
      회원가입
    </button>
    &nbsp;
    <button
      *ngIf="!checkLoggedIn()"
      type="button"
      style="text-align: center; vertical-align: top"
      class="btn btn-warning"
      routerLink="/login"
    >
      로그인
    </button>
  </div>
</div>
<br />
<div
  *ngIf="checkLoggedIn()"
  style="
    text-align: center;
    vertical-align: top;
    border: 1px solid peachpuff;
    border-radius: 60px;
    padding-top: 10px;
    background-color: peachpuff;
  "
>
  <h1 style="padding-top: 10px; padding-bottom: 10px">
    어서오세요! Qyaho 은행입니다.
  </h1>
</div>
<br />
<div
  *ngIf="checkLoggedIn()"
  style="
    text-align: center;
    vertical-align: top;
    border-radius: 5px;
    padding: 10px;
  "
>
  <app-pic-slide></app-pic-slide>
</div>
